body {
  background-image: url("https://lh6.googleusercontent.com/-PFcEmXbtEW4/VNExj57c1VI/AAAAAAAAGBI/rewT4q60Z70/w740-h555-no/DSC07225.JPG");
  background-size: 100%;


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
